<h2>Bienvenue sur Legoddit !</h2>
<p>Ce site est inspiré de <a href="https://www.reddit.com/">Reddit</a> et est axé sur le partage de créations/instructions personnalisées en <a href="https://www.lego.com">Lego</a> !</p>

<div class="post_full">
    <h3>Example post</h3>
    <div class="post_img">
        <img src="images/2000430.png" alt="first post">
        <p>quick desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, libero.</p>
        <span>by <a href="/connexion">author</a></span>
    </div>
    
    <p>kmdfslkdkmlfksmdkfmskdfmlsdkmflksdmlkfmkqlmflmsdjflkjsdhqklhgfdkjghkljdfhgklhfdklghkldfshgklsdfhgklsdfhgkdhfklghdfkljghdfklhgkldsfjhgkldfhgkldhsklghlkfdshkl</p>
</div>